* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #EEEEEE;
  font-family: "Red Hat Display", sans-serif;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  width: 21em;
  max-width: 25em;
  border-radius: 15px;
  background-color: #1f2949;
  margin: 1em 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  background-size: cover;
  text-align: center;
  background-image: url("../imagens/nublado.png");
  background-size: cover;
}

.busca {
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 5px;
  opacity: 0.8;
}


.busca input {
  background-color: #030819d0;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  opacity: 0.9;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 16px;
}

.btn-busca {
  background-color: #030819d0;
  color: #ffffff;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}

.lupa {
  width: 30px;
  padding: 6px;
  
}


.informacao-principal {
  margin: 30px;
}


main h2 {
  margin: 40px 0;
  font-size: 22px;
}

.temperatura {
  font-size: 68px;
  margin: 20px 0;
}

.info{
  background-color: #FFFFFF;
  color: #000000;
  padding: 20px 30px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.info span{
  padding: 10px 0;
}

.humidade, .velocidade-do-vento {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-condicao {
  font-size: 20px;
}